html{ 

    scroll-behavior: smooth;
    } 
    
    *, 
    *::after, 
    *::before { 
    box-sizing: border-box;
    }
     
    body{ 
    margin: 0; 
    font-family: "Futura PT","Arial",sans-serif;  
    background-image: url("../images/bg.png");  
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-color: #F9F8F8;
    } 
    img{ 
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    object-fit: cover;
    }
