.hero{  
   
 background-color: $header-bg-color;
 background-image: url("../images/bird.png"),url("../images/cats.png"); 
 background-repeat: no-repeat,no-repeat; 
 background-size: 319px 430px,870px 835px;  
 background-position: calc(50% + 690px) calc(50% + -20px),calc(50% + -520px) calc(50% + -300px) ;

} 
.hero__inner{ 
  padding: 153px 32px 311px 32px;
   margin-left: 630px;
} 
.hero__title{  
    width: 608px;
    margin: 0; 
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 70px;
    line-height: 91%;
    color: #333333;
} 
.hero__title__activ{ 
color: #78C0DE;

} 
.hero__subtitle{ 
  width: 495px;
} 
.hero__text{  
    margin: 0; 
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    color: #949494;
} 
.hero__button{ 
min-width: 181px; 
background-color: #333333; 
padding: 15px 48px; 
border-radius: 3px;
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #FFFFFF; 
border: none;
} 
.hero__button:hover{ 
 background-color: #FFBD54; 
 color: #333; 

} 
.hero__button:active{ 
    background-color: #FFBD54; 
    color: #333; 
    opacity: 0.6; 
  
   } 

.hero__sidebar{  
    width: 753px; 
    margin: 0 auto;
  position: relative; 
  padding-bottom: 191px; 
  text-align: center;
   
   &::before{    
     top: 43px; 
     right: 0; 
     bottom: 0; 
     left: -90px;
    position: absolute;  
    width: 42px ; 
    height: 38px;
    background-image: url("../images/qosh-1.png"); 
    background-repeat:no-repeat; 
    background-size: 100%;
   content: '';
} 


&::after{    
    top: 108px; 
    right: 0; 
    bottom: 0; 
    left: 800px; 
   position: absolute;  
   width: 42px ; 
   height: 38px;
   background-image: url("../images/qosh-2.png"); 
   background-repeat:no-repeat; 
   background-size: 100%;
  content: '';
}
} 
.hero__sidebar__span{ 
  display: inline-block;  
  width: 140px;
  border: 1px solid #DBDBDB;  

  &:nth-child(1){ 
  margin-bottom: 43px;
} 
} 

.hero__sidebar__title{ 

 width: 753px; 
 margin-bottom: 35px;
} 
.hero__sidebar__text{ 
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
} 
.hero__sidebar__str{  
  margin-top: 35px;  
 display: block;
 font-weight: 500;
 font-size: 20px;
 line-height: 26px;
 color: #333333;
}
